.theme-dark {
  --background-primary: #
  --background-primary-alt: #
  --background-secondary: #
  --background-secondary-alt: #
  --background-accent: #
  --background-modifier-border: #
  --background-modifier-form-field: #
  --background-modifier-form-field-highlighted: #
  --background-modifier-box-shadow: rgba(
  --background-modifier-success: #
  --background-modifier-error: #
  --background-modifier-error-rgb:
  --background-modifier-error-hover: #
  --background-modifier-cover: rgba(
  --text-accent: #
  --text-accent-hover: #
  --text-normal: #
  --text-muted: #
  --text-faint: #
  --text-error: #
  --text-error-hover: #
  --text-highlight-bg: rgba(
  --text-selection: rgba(
  --text-on-accent: #
  --interactive-normal: #
  --interactive-hover: #
  --interactive-accent: #
  --interactive-accent-rgb:
  --interactive-accent-hover: #
  --scrollbar-active-thumb-bg: rgba(
  --scrollbar-bg: rgba(
  --scrollbar-thumb-bg: rgba(
}

.theme-light{
  --background-primary: #
  --background-primary-alt: #
  --background-secondary: #
  --background-secondary-alt: #
  --background-accent: #
  --background-modifier-border: #
  --background-modifier-form-field: #
  --background-modifier-form-field-highlighted: #
  --background-modifier-box-shadow: rgba(
  --background-modifier-success: #
  --background-modifier-error: #
  --background-modifier-error-rgb:
  --background-modifier-error-hover: #
  --background-modifier-cover: rgba(
  --text-accent: #
  --text-accent-hover: #
  --text-normal: #
  --text-muted: #
  --text-faint: #
  --text-error: #
  --text-error-hover: #
  --text-highlight-bg: rgba(
  --text-selection: rgba(
  --text-on-accent: #
  --interactive-normal: #
  --interactive-hover: #
  --interactive-accent: #
  --interactive-accent-rgb:
  --interactive-accent-hover: #
  --scrollbar-active-thumb-bg: rgba(
  --scrollbar-bg: rgba(
  --scrollbar-thumb-bg: rgba(
}

/* Status Bar */

/* Markdown Source View*/
/* 0. Global */

/* 1. Headers */

/* 2. Horizons */

/* 3. Lists */
/* 4. Images */
/* 5. Links */
/* 6. Blockquotes */
/* 7. Inline Codes */
/* 8. Code Blocks */
/* 9. Task List */
/* 10. Tables */
/* 11. Strikethrough */
/* 12. Footnotes */
/* 13. Maths */
/* 14. Highlights */
/* 15. Internal Links */
/* 16. Internal Embeds */




/* Markdown Preview View */
/* 0. Global */

/* 1. Headers */

/* 2. Horizons */

/* 3. Lists */
/* 4. Images */
/* 5. Links */
/* 6. Blockquotes */
/* 7. Inline Codes */
/* 8. Code Blocks */
/* 9. Task List */
/* 10. Tables */
/* 11. Strikethrough */
/* 12. Footnotes */
/* 13. Maths */
/* 14. Highlights */
/* 15. Internal Links */
/* 16. Internal Embeds */


/* Graph View */
/*background of graph view pane*/
.workspace-leaf-content[data-type = "graph"] .view-content{
  background-color: var(--background-primary);
}

/*filled color for the circle when not hover*/
.graph-view.color-fill {
  color: var(--background-secondary);
}

/*color for the circle stroke */
.graph-view.color-circle {
  color: var(--text-normal);
}

/*color for the connecting line when not hover*/
.graph-view.color-line {
  color: var(--background-modifier-border);
}

/*color for texts*/
.graph-view.color-text {
  color: var(--text-normal);
}

/*filled color for the circle when hover*/
.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}

/*color for the connecting line when hover*/
.graph-view.color-line-highlight {
  color: rgb(var(--interactive-accent-rgb));
}